<div class="face face--surprise face--<%= size %>" data-verb="surprise" data-placeholder="Tell us why you're surprised...">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 25 25" enable-background="0 0 25 25" xml:space="preserve">
    <path fill="#D4ECE3" d="M12.5 0.5c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12S19.127 0.5 12.5 0.5zM12.611 21.708c-2.388 0-4.324-1.505-4.324-3.362 0-1.855 1.936-3.361 4.324-3.361 2.387 0 4.323 1.506 4.323 3.361C16.934 20.203 14.998 21.708 12.611 21.708zM15.884 5.767c1.247 0 2.259 1.409 2.259 3.147 0 1.739-1.012 3.148-2.259 3.148 -1.245 0-2.256-1.409-2.256-3.148C13.628 7.175 14.639 5.767 15.884 5.767zM9.116 5.767c1.246 0 2.256 1.409 2.256 3.147 0 1.739-1.01 3.148-2.256 3.148 -1.247 0-2.257-1.409-2.257-3.148C6.858 7.175 7.87 5.767 9.116 5.767z"/>
  </svg>
</div>
