@import "../depot/base";

.face--small {
  height: 25px;
  width: 25px;
}

.face--normal {
  float: left;
  width: 40px;
  height: 30px;
  padding: 0 5px;
  svg path {
    @include transition(fill, 0.2s);
  }
  @each $emotion in $emotions {
    $verb: nth($emotion, 1);
    $color: nth($emotion, 2);

    &.face--#{$verb} {
      &:hover, &.face--active {
        svg path {
          fill: #{$color};
        }
      }
    }
  }
}
