@import "../partials/base";

.form--post {
  @include transition(background-color 0.2s, margin-top 1s $ease-out-cubic);
  position: relative;
  opacity: 0.8;
  @include clearfix;
  padding: 1em;
  margin-top: -209px;
  .form__triangle {
    display: none;
    @media screen and (min-width: 768px) {
      @include transition(border-color 0.2s, left 0.5s $ease-out-cubic);
      display: block;
    }
  }
  .form__body {
    float: left;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    height: 10em;
  }
  .form__submit {
    @include transition(color 0.2s);
    float: right;
    border: none;
    background: white;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 0.25em 2em;
    margin: 1em 0 0 0;
  }
}

@media screen and (min-width: 768px) {
  .form--post {
    position: absolute;
    width: 24em;
    left: 50%;
    margin-left: -12em;
    .form__triangle {
      position: absolute;
      top: -49px;
      left: 0;
    }
  }
}
