@import "../depot/base";

.header {
  border-top: 10px solid #cccccc;
  @include transition(border-color, 0.2s);
  @include clearfix();
  position: relative;
  z-index: $layer-top;
  background: white;

  @each $emotion in $emotions {
    $verb: nth($emotion, 1);
    $color: nth($emotion, 2);

    &.header--#{$verb} {
      border-color: #{$color};
    }
  }

}

