@import "../depot/base";

.post {
  @include transition(all .25s $ease-out-cubic);
  position:relative;
  width:300px; 
  background: #FFF;
  margin-left:5px;
  margin-right:5px;
  margin-top:10px;
  padding:0 0 30px 0;
  min-height:100px;
  border:1px solid #CCC;
    box-shadow:0 0 6px 2px #DDD;
  &:hover {
    box-shadow:0 0 6px 2px #CCC;
  }
  .post__triangle {
    position:absolute;
    top:0;
    left:0;
    @include triangle(60px, #CCC, up-left); 
    border-right-width:100px;
  }
  .post__face {
    position:absolute;
    top:6px;
    left:18px;
    svg path {
      fill: #FFF;
    }
  }
  .post__voting {
    position:absolute;
    top:6px;
    right:15px;
    height:25px;
    width:150px;
    text-align:right;
  }
  .post__body {
    @extend %gotham-book;
    font-size:12px;
    line-height:18px;
    padding:0 15px 15px;
    float:left;
    width:100%;
    margin-top:65px;
    color:#333;
  }
  .post__image { 
    float:left;
    width:100%;
    height:200px;
    padding:0 0 15px;
  }
  @each $emotion in $emotions {
    $verb: nth($emotion, 1);
    $color: nth($emotion, 2);

    &.post--#{$verb} {
      .post__triangle {
        border-top-color: #{$color};
      }
    }
  }
  .post__info {
    float:left;
    padding:0 0 0 15px;
  }
  .post__flag {
    float:left;
    height:11px;
    margin-top:4px;
  }
  .post__country {
    display:block;
    padding-left:5px;
    float:left;
    @extend %gotham-book;
    font-size:10px;
    color:#999;
    line-height:20px;
  }
  .post__timestamp {
    padding-left:5px;
    display:block;
    float:left;
    @extend %gotham-book;
    font-size:10px;
    color:#999;
    line-height:20px;
  }
  .post__share {
    float:right;
    padding:0 15px 0 0;
  }
}
