$color-anger: #E85533
$color-contempt: #EFCF24 
$color-disgust: #67D866
$color-fear: #C785B3
$color-happiness: #F7A116
$color-sadness: #5287A7
$color-surprise: #ABDAC6

.page
  &.page--anger
    .header
      border-color: $color-anger
  &.page--contempt
    .header
      border-color: $color-contempt
  &.page--disgust
    .header
      border-color: $color-disgust
  &.page--fear
    .header
      border-color: $color-fear
  &.page--happiness
    .header
      border-color: $color-happiness
  &.page--sadness
    .header
      border-color: $color-sadness
  &.page--surprise
    .header
      border-color: $color-surprise

.header
  border-top: 10px solid #CCC
  transition: all .2s

.faces
  width: 280px
  margin: .5em auto

.face
  float: left
  width: 30px
  height: 30px
  margin: 0 5px
  svg path
    transition: fill .2s
  &.face--anger
    &:hover
      svg path
        fill: $color-anger
  &.face--contempt
    &:hover
      svg path
        fill: $color-contempt
  &.face--disgust
    &:hover
      svg path
        fill: $color-disgust
  &.face--fear
    &:hover
      svg path
        fill: $color-fear
  &.face--happiness
    &:hover
      svg path
        fill: $color-happiness
  &.face--sadness
    &:hover
      svg path
        fill: $color-sadness
  &.face--surprise
    &:hover
      svg path
        fill: $color-surprise
